@font-face {
  font-family: "monserrat-regular";
  src: url("fonts/monserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "monserrat-bold";
  src: url("fonts/monserrat/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "monserrat-regular-semibold";
  src: url("fonts/monserrat/Montserrat-SemiBold.ttf");
}

body {
  margin: 0;
  font-family: "monserrat-regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.header {
  background-color: #f18f78;
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}
.nav-menu {
  margin-top: 1%;
}
.list-elements {
  font-size: 11px;
  display: inline-flex;
}

.logo {
  flex-direction: row;
}
.social-icon {
  margin-top: 5px;
  flex-direction: row;
}
.icon-1 {
  margin-left: 20px;
}
.icon-2 {
  margin-left: 10px;
}
ul {
  list-style: none;
}
.link-header {
  color: white;
  margin: 5px;
  text-decoration: none;
  font-family: "monserrat-regular-semibold";
}

a:hover {
  color: white;
  text-decoration: none;
}
.box-middle {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
}
.box-middle_img1 {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.box-middle_img2 {
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}
.box-middle_text {
  padding-top: 20px;
  text-align: center;
}
.box-middle_text1 {
  margin-top: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.box-middle_text2 {
  margin-top: -18px;
  color: white;
  font-size: 12px;
}

.botton-img1 {
  position: absolute;
  background-image: url("img/estamos-cerca-home.png");
  color: #f18f78;
}

.destacado {
  width: 414px;
  height: 500px;
  background-color: red;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.destacados {
  display: flex;
  flex-direction: row;
  margin-top: 57px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.destacado-1 {
  background-image: url("img/estamos-cerca-home.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.destacado-2 {
  background-image: url("img/sabores-supremos-home.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.destacado-3 {
  background-image: url("img/somos-la-pinocha-home.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.fondo-medio-front {
  background-image: url("img/fondo-medio-front.png");
}

.fondo-medio-back {
  background-image: url("img/fondo-medio-back.png");
}

.footer {
  margin-top: 2%;
  background-color: #525251;
  color: white;
  display: flex;
  flex-direction: column;
}

.upper-section {
  display: flex;
  justify-content: space-evenly;
}

.left-footer {
  display: flex;
  flex-direction: row;
}

.left-footer .text-left-footer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 50%;
}
.title {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 19px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Montserrat";
}

.footer .rights {
  background-color: #252525;
  height: 49px;

  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-content: center;
}

.destacado-middle-section .call-to-action {
  border: 1.5px solid #ffffff;
  border-radius: 15px;
}

.destacado-middle-section {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-content: center;
}
.message {
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 2%;
}
.call-to-action {
  font-size: 10px;
  margin: auto;
  width: 10em;
  height: 30px;
  padding-top: 7px;
}
.logo-footer {
    width: 50px;
    margin-left: 25px;
    margin-top: 15px;
    position: absolute;
}
.text-left-footer {
  align-self: center;
  margin-left: 5px;
}
.bajada-de-linea {
  width: 250px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 19px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Montserrat";
}
.right-footer {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  align-self: center;
}
.right-footer-text {
  flex-wrap: wrap;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 19px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Montserrat";
}
.rights {
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 19px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
.follow-us {
  align-self: center;

  width: 75px;
}
.follow-text {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 19px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Montserrat";
  margin-bottom: 5px;
}
.footer-logo-right {
  margin-top: 5px;
}

.top-section {
  background-color: #fdad99;
  height: 318px;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.sucursales .top-section {
  height: 170px;
}

.top-section .familia-la-pinocha {
  font-size: 49px;
}

.top-section .conoce-nuestra-historia {
  font-size: 20px;
  font-weight: bold;
}

.conocenos .conoce-nuestra-historia-2 {
  margin-bottom: 45px;
}

.conocenos .logo-conocenos {
  margin-top: -107px;
  height: 214px;
  text-align: center;
}

.bold {
  font-weight: bold;
  font-family: "monserrat-bold";
}

.conocenos .text-section,
.franquicias .text-section {
  text-align: center;
  width: 729px;
  margin: auto;
  margin-top: 89px;
  margin-bottom: 85px;
}

.franquicias .text-section {
  margin-top: 50px;
  margin-bottom: 25px;
}

.contact-us-form .form-item {
  max-width: 600px;
  width: 528px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us-form .form-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contact-us-center {
  justify-content: center;
}
.contact-us-imput {
  height: 50px;
  width: 100%;
}
.contact-us-area {
  width: 528px;
  height: 196px;
}
.form-footer {
  margin-top: 35px;
}
.g-recaptcha {
  width: 248px;
  height: 62px;
  margin-right: 140px;
  margin-bottom: 73px;
}
.footer-submit {
  width: 142px;
  height: 46px;
  background-color: #ef8f7a;
}
.form-label {
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 42px;
  color: #2b2b2b;
  font-family: "monserrat-regular";
  text-align: center;
  margin-top: 45px;
  margin-bottom: 35px;
}

.form-item.first {
  margin-top: 0px !important;
}

.productos-rose {
  background-color: #fce1da;
  height: 516px;
}

/*.product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 82%;
  text-align: center;
  margin: auto;
}*/

.productos .banners {
  text-align: center;
}

.productos .white-background {
  height: 770px;
}

.productos .description-chocolate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sucursales .sucursal {
  display: flex;
  flex-direction: column;
}

.sucursales .sucursal-list {
  max-width: 1320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.banner-home {
  flex-direction: column;
  text-align: center;
  display: flex;
  color: white;
}

.middle-banner-home {
  margin: auto;
}

.contact-em {
  text-decoration: none;
  color: white;
}

.carrousel-arrow {
  width: 30px !important;
  height: 30px !important;
}
.sucursal-zone-box {
  display: flex;
}

.sucursal-zone {
  font-size: 50px;
  letter-spacing: -1px;
  line-height: 160px;
  font-weight: 300;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.sucursal-list {
  margin-left: 12%;
  margin-right: -5%;
}
.sucursal {
  width: 26%;
  margin-bottom: 62px;
}
.sucursal-title {
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 50px;
  font-weight: 700;
  font-family: "Montserrat";
}
.card {
 width: 18rem;
 border: none;
}
.card-title {
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 50px;
  font-weight: 700;
  font-family: "Montserrat";
}
.container-fluid.full-width {
  padding: 0 !important;
}

.react-slideshow-container {
  max-width: 1304px;
  text-align: center;
}

.row-destacados {
  justify-content: center;
}

